.page-my-clients {
    margin-top: 5em;
}

.btn-cadastra {
    text-decoration: none;
    background: transparent;
    border: none;
    display: block;
    font-weight: bolder;
    color: #808080;
    font-size: 25px;
    margin-bottom: 0.5em;
    transition: all 0.2s;
}

.btn-cadastra:hover {
    opacity: 0.5;
    cursor: pointer;
}