



.caixa{position: relative;
		width:940px;
		margin: 0 auto;}

.logo {width: 20%;}

#logo2 {width: 40%;
		padding: 0 89px}

.tamanho {font-size: 20px
			color:white;
			text-align: center;}
			

	header {padding: 10px  0;
			background:  #00002B}




			nav {position:absolute;
					top: 110px;
					right: 0;}




			nav li {display: inline;
					margin: 0 0 0 35px;}

			nav a {text-transform: uppercase; 
	   				color: #00BFFF; 
	   				font-weight: bold;
	   				font-size: 20px; 
	   				text-decoration: none}

nav a:hover{ color: #8A2BE2;
			 text-decoration: underline;}


#titulo{text-align: center; 
		font-weight: bold;
		font-style: italic;
		font-size: 40px;}


.produtos {width: 940px
		   margin: 0 auto;
			padding: 100px 0;}

.produtos li {display: inline-block;
		      text-align: center;
		  	  margin: 0 0 0 20px;
		  	  width: 30%;
		  	  vertical-align: top;
		  	  border: 5px dotted #00BFFF;
		  	  border-radius: 20px;}


.produtos h2 {font-size: 30px;
			  font-weight: bold;}

.descrição {font-size: 18px;}

.preço {font-size: 22px;
		font-weight: bold;
		margin: 20px 0;}

.produtos li:hover{border-color: #8A2BE2;}

.imagem{width: 60%}


footer{ background: #00002B;
        text-align: center;
        color: #8A2BE2;
        font-weight: bold;
        font-size: 20px}

.tamanhoLogo{width: 15%}





main {width: 940px;
	  margin: 0  auto}



form {margin: 40px  0;}


form  label, main form div p {display: block;
			 					 margin-top: 10px;
								 font-size: 20px;
								 font-weight: bold;
								 font-style: italic;}


.marca {margin-top: 10px;
		padding: 10px 25px;
		font-size: 20px;
		font-weight: bold;
		font-style: italic;}


.input-padrao {display: block;
				margin-top: 10px;
				padding: 10px 25px;
				width: 50%;}


.checkbox {margin: 20px 0;} 


.box {width: 8%;
	  padding: 10px 0;}


.enviar {width: 40%;
		 padding: 15px 0;
		 background: #00BFFF;
		 color: white;
		 border:none;
		 font-weight: bold;
		 border-radius: 6px;
		 transition: 1.5s all;
		 cursor: pointer;}


.enviar:hover {background: #8A2BE2;
			   transform: scale(1.2); }


table {margin: 30px 0 30px;}



thead {	font-weight: bold;
	  	font-style: italic;
	  	border: 6px solid #00002B;
	  	background: #00002B;
	  	color:#8A2BE2;
	  	padding: 16px 30px;
	    font-size: 20px;}


tr td {border:6px  solid  #00002B;
	   color: #00002B;
	   padding: 16px 30px;
	   font-size: 20px; }






