

#fundo{background : #000000}



#cabeçalho{text-align: center;color: #FFFFFF}



#imagem{width: 100%;}
#imagem2{width: 50%;}


ul {display:inline-block; vertical-align: top;}
ul {display:inline-block; vertical-align: top;}



.fonte{font-style: italic; color: #ffffff}




.alinhamento{text-align: left;}




.marca{color: #FFFF00; text-align: center; font-style: italic; font-size: 50px}




#placamae{width: 100%;}




.titulo{font-style: italic; color: #00BFFF; font-size: 30px}




.cor{font-size: 20px; text-align: left; }




.tamanho{width: 45%; display:inline-block; vertical-align: top}


ul {display:inline-block; vertical-align: top;}


.espaço{display:inline-block; vertical-align: top;}

.destaca{text-align: left;}


ul {display:inline-block; vertical-align: top;}


li a {color: #00FF7F}

#i7{width: 40%}
ul {display:inline-block; vertical-align: top;}

.tamanho2{width: 100%}


.marca2{color: #FFFF00; text-align: center; font-style: italic; font-size: 50px}

ul {display:inline-block; vertical-align: top;}

.ajuste{display:inline-block; vertical-align: top;}
